<div class="container">
  <br>
  <h1>Pipes</h1>
  <hr>

  <table class="table">
    <thead class="thead-inverse">
      <tr>
        <th>Variable</th>
        <th>Pipe</th>
        <th>Producto</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ nombre }}</td>
        <td>uppercase</td>
        <td>{{ nombre | uppercase }}</td>
      </tr>
      <tr>
        <td>{{ nombre }}</td>
        <td>lowercase</td>
        <td>{{ nombre | lowercase }}</td>
      </tr>
      <tr>
        <td>{{ nombre }}</td>
        <td>slice:3</td>
        <td>{{ nombre | slice:3 }}</td>
      </tr>
      <tr>
        <td>{{ nombre }}</td>
        <td>slice:0:3</td>
        <td>{{ nombre | slice:0:3 }}</td>
      </tr>
      <tr>
        <td>{{ arreglo }}</td>
        <td>slice:1:5</td>
        <td>{{ arreglo | slice:1:5 }}</td>
      </tr>
      <tr>
        <td>{{ pi }}</td>
        <td>number:'3.0-0'</td>
        <td>{{ pi | number:'3.0-0' }}</td>
      </tr>
      <tr>
        <td>{{ pi }}</td>
        <td>number:'1.0-2'</td>
        <td>{{ pi | number:'1.0-2' }}</td>
      </tr>
      <tr>
        <td>{{ numero }}</td>
        <td>percent</td>
        <td>{{ numero | percent }}</td>
      </tr>
      <tr>
        <td>{{ numero }}</td>
        <td>percent:'2.2-2'</td>
        <td>{{ numero | percent:'2.2-2' }}</td>
      </tr>
      <tr>
        <td>{{ moneda }}</td>
        <td>currency</td>
        <td>{{ moneda | currency }}</td>
      </tr>
      <tr>
        <td>{{ moneda }}</td>
        <td>currency:'EUR'</td>
        <td>{{ moneda | currency:'EUR' }}</td>
      </tr>
      <tr>
        <td>{{ moneda }}</td>
        <td>currency:'EUR':true</td>
        <td>{{ moneda | currency:'EUR':true }}</td>
      </tr>
      <tr>
        <td>{{ moneda }}</td>
        <td>currency:'EUR':true:'1.0-2'</td>
        <td>{{ moneda | currency:'EUR':true:'1.0-2' }}</td>
      </tr>
      <tr>
        <td>{{ moneda }}</td>
        <td>number:'1.2-2'</td>
        <td>{{ moneda | number:'1.2-2' }}</td>
      </tr>
      <tr>
        <td>{{ promesa }}</td>
        <td>async</td>
        <td>{{ promesa | async }}</td>
      </tr>
      <tr>
        <td>{{ fecha }}</td>
        <td>date</td>
        <td>{{ fecha | date }}</td>
      </tr>
      <tr>
        <td>{{ fecha }}</td>
        <td>date:'medium'</td>
        <td>{{ fecha | date:'medium' }}</td>
      </tr>
      <tr>
        <td>{{ fecha }}</td>
        <td>date:'MMMM dd, yyyy'</td>
        <td>{{ fecha | date:'MMMM dd, yyyy' }}</td>
      </tr>
      <tr>
        <td>{{ nombre2 }}</td>
        <td>capitalizado</td>
        <td>{{ nombre2 | capitalizado }}</td>
      </tr>
      <tr>
        <td>{{ nombre2 }}</td>
        <td>capitalizado:false</td>
        <td>{{ nombre2 | capitalizado:false }}</td>
      </tr>

      <tr>
        <td>{{ nombre3 }}</td>
        <td>contrasena: {{ mostrar }}
          <button (click)="mostrar = !mostrar" type="button" class="btn btn-outline-primary">Mostrar/Ocultar</button>
        </td>
        <td>{{ nombre3 | contrasena:mostrar }}</td>
      </tr>

    </tbody>
  </table>

  <h4>slice:5:20</h4>
  <ul>
    <li *ngFor="let n of arreglo | slice:5:20">{{ n }}</li>
  </ul>

  <h4>JSON</h4>
  <pre>
    {{ heroe | json }}
  </pre>

  <h4>YouTube <small>video</small></h4>
  <hr>
  <iframe width="560" height="315" [src]="video | domseguro" frameborder="0" allowfullscreen></iframe>

  <br><br><br><br><br><br><br><br>

</div>

